@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Adicionado para melhorar o cálculo do tamanho */
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #E5E6E7;
  /* background-image: linear-gradient(to bottom, #001024, #001e44); */
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  /* Definir uma fonte padrão */
}

.container {
  max-width: 1230px;
  /* Alterado de width para max-width para melhor responsividade */
  margin: 0 auto;
  padding: 0 15px;
  /* Adicionado um espaçamento interno */
}

header {
  display: flex;
  align-items: center;
  /* Centralizar verticalmente */
  height: 12vh;
  background: #030060;
}

.logo {
  width: 8%;
  margin: 0 auto;
  /* Centralizar horizontalmente */
}

.title {
  font-size: 1.5rem;
  /* Alterado para unidade de rem para melhor escalabilidade */
  color: #030060;
  text-align: center;
  font-weight: bold;
  margin: 2rem 0;
  font-family: 'Open Sans', sans-serif;
  /* Adicionado espaçamento superior e inferior */
}

.boxinfopaciente {
  background-color: #fff;
  width: 90%;
  /* Alterado para largura relativa */
  max-width: 400px;
  /* Definir uma largura máxima */
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.boxinfoocorrencia {
  background-color: #fff;
  width: 90%;
  /* Alterado para largura relativa */
  max-width: 400px;
  /* Definir uma largura máxima */
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.boxsituacaopaciente {
  background-color: #fff;
  width: 90%;
  /* Alterado para largura relativa */
  max-width: 400px;
  /* Definir uma largura máxima */
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.boxatendimento {
  background-color: #fff;
  width: 90%;
  /* Alterado para largura relativa */
  max-width: 400px;
  /* Definir uma largura máxima */
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.form {
  margin-top: 1rem;
}

.input-caixatexto label {
  display: block;
  color: #030060;
  margin-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-top: 1rem;
}

.input-caixatexto input {
  width: 100%;
  border-radius: 2rem;
  border: none;
  outline: 0;
  background-color: #E5E6E7;
  padding: 0.75rem 1rem;
  color: #030060;
  cursor: pointer;
}

.input-caixatexto input:focus {
  border-color: blue;
  transition: 0.5s;
}

.fundo-anamnese{
  background-color: #E5E6E7;
  width: 90%;
  height: 20%;
  margin: auto;
  padding: 5%;
  border-radius: 1rem;
}

.input-anamnese label {
  display: block;
  color: #030060;
  margin-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
}

.actu label {
  display: block;
  color: #030060;
  margin-bottom: 4px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  text-align: center;
}

.input-anamnese input {
  width: 80%;
  border-radius: 0.375rem;
  outline: 0;
  padding: 1rem 1rem;
  cursor: pointer;
  height: 5rem;
  border: none;
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.input-anamnese input::placeholder {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 0.5rem;
  color: #444343;
  opacity: 0.6;
}

.fundo-input{
  background-color: #E5E6E7;
  width: 70%;
  height: 10%;
  margin: auto;
  padding: 1%;
  border-radius: 1rem;
}

.input-ss {
  display: flex;
  align-items: center;
  color: #030060;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;

}

.input-ss label {
  margin: auto;
  display: flex;
  margin-left: 1.8rem;
}

.input-ss input {
  width: 60%; 
  height: 8%;
  border: none;
  outline: 0;
  padding: 0.75rem 1rem;
  color: #030060;
  cursor: pointer;
  background-color: #E5E6E7;
  font-size: 15px;
}

.input-anme_sn {
  display: flex;
  align-items: center;
  color: #030060;
  font-family: 'Open Sans', sans-serif;
}

.input-anme_sn label {
  margin: auto;
  display: flex;
}

.input-anme_sn input {
  display: flex;
  width: 43%; 
  height: 8%;
  border: none;
  outline: 0;
  padding: 0.75rem 1rem;
  color: #030060;
  cursor: pointer;
  font-size: 15px;
}

.sexo {
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  color: #030060;
  width: 35%;
  letter-spacing: 0.05em;
  background-color: #f2f2f2; /* Fundo cinza */
  margin-left: 5%;
  display: flex;
  align-items: center;
  border: 1.5px solid #C7BEBE;
  border-radius: 5px;
  appearance: none; /* Remove a aparência padrão do navegador */
  padding: 10px; /* Ajuste o preenchimento conforme necessário */
}

/* Estilize a seta para baixo */
.sexo::after {
  content: "\25BC"; /* Código Unicode para uma seta para baixo */
  font-size: 14px; /* Tamanho da seta */
  margin-left: auto; /* Alinha a seta à direita do elemento .sexo */
  padding-left: 10px; /* Espaçamento entre a seta e o texto */
  color: #030060; /* Cor da seta */
}

/* Estilize o wrapper do select */
.custom-select {
  position: relative;
  width: 35%;
  /* margin-left: 5%; */
  margin-top: 0.2rem;
}

/* Estilize o select para ocultar a seta padrão */
.custom-select select.sexo {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 0.75rem 1rem;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  color: #030060;
  background-color: #E5E6E7;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

/* Estilize a seta personalizada */
.custom-select .custom-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #030060; /* Cor da seta */
  pointer-events: none; /* Garante que a seta não seja clicável */
}


.textosexo {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #030060;
  /* width: 100%;  */
  display: flex;
  font-weight: bold;
  margin-top: 1rem;
}

.hr1 {
  border: 0.1rem solid #030060;
  margin: auto;
  width: 80%;
  margin-top: 2rem;
}

.hr2 {
  border: 0.05rem solid #030060;
  margin: auto;
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.textbox-n {
  width: 100%;
  border-radius: 0.375rem;
  border: 1.5px solid #C7BEBE;
  outline: 0;
  background-color: #fff;
  padding: 0.75rem 1rem;
  color: #030060;
  cursor: pointer;
}

#checkbox {
  left: 90%;
}

.subtitulo {
  background-color: #030060;
  font-size: 1rem;
  margin-top: 1rem;
  color: #fff;
  /* border-radius: 1rem; */
  height: 2rem;
  width: 25rem;
  text-align: center;
  justify-content: center;
  margin-left: -1rem;
}

.texto {
  font-size: 1rem;
  margin-top: -1.8rem;
  color: #fff;
  text-align: center;
  justify-content: center;
}

.checkbox {
  color: #030060;
  margin-left: 1rem;
}

.checkbox-texto {
  color: #030060;
  text-align: center;
  font-weight: bold;
  margin-top: 1.2rem;
  font-size: 1rem;
  padding-top: 3.5%;
}

.checkbox-container {
  text-align: center;
  background-color: #E5E6E7;
  border-radius: 1rem;
  width: 18rem;
  margin: 0 auto;
}

.checkbox-textocontainer,
.checkbox-textocontainer2 {
  color: #030060;
  text-align: center;
  font-size: 1rem;
  margin-top: 0.8rem;
  display: inline-block;
  margin-bottom: 0.8rem;
}

.checkbox-textocontainer2 {
  margin-left: 10px;
}

.input-consciencia label {
  display: block;
  color: #030060;
  margin-top: 2rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.input-vitimaera input {
  display: block;
}

.input-vitimaera input {
  display: block;
}

.grid_txt_cinematica {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  row-gap: 1%;
}

.grid_checkbox_sim_cinematica {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  row-gap: 1%;
  margin-left: auto;
}

.grid_checkbox_nao_cinematica {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  row-gap: 1%;
  margin-left: auto;
}

.txt_cinematica {
  display: flex;
  flex-direction: column;
}

.checkbox-cinematica {
  border-radius: 20px;
  color: red;
  margin-left: auto;
}


.grid_vitima {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1%;
}

.grid_ocorrencia {
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  row-gap: 1%;
}

.grid_cinematica {
  display: grid;
  grid-template-columns: 1fr 0.3fr 0.3fr;
  row-gap: 4%;
}

.grid_maior5 {
  display: grid;
  grid-template-columns: 1fr 3fr 0.3fr;
}

.check_ocular {
  margin: auto;
}

.totalgcs{
  display: block
}

#gcs {
  width: 45%;
  border-radius: 0.375rem;
  border: 1.5px solid #C7BEBE;
  margin-left: 1rem ;
  outline: 0;
  background-color: #fff;
  padding: 0.75rem 1rem;
  color: #030060;
  cursor: pointer;
}

.prob{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 1.5rem;
  border-radius: 1rem;
  background-color: #E5E6E7;
  padding: 0.8rem;
  align-items: center;
  text-decoration: #030060;
}

.checkbox_prob{
  display: block;
  margin: auto;
}

#resp{
  display: grid;
  grid-template-rows: 1fr 2fr;
}

#sub_resp {
  display: inline-block;
  padding: 0.3rem;
  width: 100%;
}

#sub_resp label {
  padding: 0.3rem;
  width: 90%;
}