@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Adicionado para melhorar o cálculo do tamanho */
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #E5E6E7;
  /* background-image: linear-gradient(to bottom, #001024, #001e44); */
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  /* Definir uma fonte padrão */
  zoom: 1.15;
  /* Aumenta o zoom em 20% */
}

@media (max-width: 768px) {
  /* Estilos para telas menores, como smartphones */
}

@media (min-width: 768px) {
  /* Estilos para telas maiores, como tablets e desktops */
}


p {
  font-size: 1em;
}

.hidden {
  display: none;
}


.navbar {
  width: 100%;
  margin: 0 auto;
  display: block;
  align-items: center;
  justify-content: space-between;
  /* background-color: #030060; */
}

.relatorios,
.conectado,
.inicio {
  top: 0;
  padding: 0.8rem;
  margin: 5px;
  background-color: #030060;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.5s ease-out;
  overflow: visible;
}

.relatorios a,
.conectado a,
.inicio a {
  color: #fff;
  text-decoration: none;
}

.relatorios:hover,
.conectado:hover,
.inicio:hover {
  background-color: #1b40af;
  /* Cor do fundo ao passar o mouse */
}

.relatorios {
  left: 0;
}

.conectado {
  right: 0;
}

.inicio {
  left: 50%;
  transform: translateX(-50%);
}


.inicioPerfil {
  display: flex;
  position: relative;
  justify-content: center;
  width: 5rem;
  padding: 0.8rem;
  margin: 5px;
  background-color: #030060;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.5s ease-out;
  overflow: visible;
}

.inicioPerfil a {
  display: flex;
  position: relative;
  color: #fff;
  text-decoration: none;
justify-content: center;}

.inicioPerfil:hover {
  background-color: #1b40af;
  /* Cor do fundo ao passar o mouse */
}

button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  top: 0;
  padding: 0.8rem;
  margin: 0.8rem;
  background-color: #030060;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.5s ease-out;
  overflow: visible;
}

button a {
  color: #fff;
  text-decoration: none;
}

button:hover {
  background-color: #1b40af;
  /* Cor do fundo ao passar o mouse */
}

.infos{
  display: grid;
  width: 100%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  justify-content: center;
}

.desconectar{
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.container-login {
  margin-top: 12%;
}


table {
  gap: 0.5rem;
}

a {
  text-decoration: none;
  color: #fff;
}

.form-caixa {
  display: block;
  background-color: #fff;
  width: 60%;
  margin:auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

#botaoEditar {
  display: flex;
  position: relative;
  justify-content: center;
  padding: 1.5rem;
  background-color: #030060;
  color: #fff;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.5s ease-out;
  overflow: visible;
  margin-top: 1.5rem;
  max-width: 35%;
  margin: auto;
  margin-top: 1.5rem;
}

#botaoEditar a {
  display: flex;
  position: relative;
  color: #fff;
  text-decoration: none;
justify-content: center;}

#botaoEditar:hover {
  background-color: #1b40af;
  /* Cor do fundo ao passar o mouse */
}

.boxEditar{
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}



.form-caixa-protect {
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.form-caixa-salvo {
  background-color: #fff;
  width: 60%;
  margin: 0 auto;
  margin-top: 4rem;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.form-caixa-login {
  display: block;
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 5%;
}


/*titulo "Login"*/
.titulo {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  color: black;
  font-family: 'Poppins', sans-serif;
  color: #030060;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.titulo-protect {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  color: black;
  font-family: 'Poppins', sans-serif;
  color: #030060;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.titulo-salvo {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: black;
  font-family: 'Poppins', sans-serif;
  color: #030060;
  margin-top: 1rem;
}

.titulo-login {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: 600;
  color: black;
  font-family: 'Poppins', sans-serif;
  color: #030060;
  /* margin-top: 5rem; */
  margin-bottom: 3rem;
}

.perfil {
  color: #030060;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  width: 60%;
  align-items: center;
}

.perfil p {
  width: 100%;
}

.perfil-login {
  color: #030060;
  font-size: 1.2rem;
  display: flex;
  /* Use display flex para centralizar o conteúdo verticalmente */
  flex-direction: column;
  /* Para alinhar os elementos verticalmente */
  text-align: center;
  /* Alinhe o texto horizontalmente ao centro */
  margin: 0 auto;
  /* width: 60%; */
  align-items: center;
}

.perfil-login p {
  width: 100%;
}

button1 {
  border: none;
  display: flex;
  padding: 1.5rem 2.5rem;
  background-color: #030060;
  color: #ffffff;
  font-size: 1.2rem;
  line-height: 1rem;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #5b58ff, 0 2px 4px -1px #5b58ff;
  transition: all .6s ease;
  margin: auto;
  margin-top: 3rem;
}

button1:hover {
  box-shadow: 0 10px 15px -3px #5b58ff, 0 4px 6px -2px #5b58ff;
}

button1:focus,
button1:active {
  opacity: .85;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: #fff;
}


.irUsuarios {
  border: none;
  display: flex;
  padding: 1.5rem 2.5rem;
  background-color: #030060;
  color: #ffffff;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #5b58ff, 0 2px 4px -1px #5b58ff;
  transition: all .6s ease;
  margin: auto;
  margin-top: 1rem;
}

.irUsuarios:hover {
  box-shadow: 0 10px 15px -3px #5b58ff, 0 4px 6px -2px #5b58ff;
}

.irUsuarios:focus,
.irUsuarios:active {
  opacity: .85;
  box-shadow: none;
}