@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Adicionado para melhorar o cálculo do tamanho */
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: #E5E6E7;
  /* background-image: linear-gradient(to bottom, #001024, #001e44); */
  background-repeat: no-repeat;
  font-family: 'Open Sans', sans-serif;
  /* Definir uma fonte padrão */
}

@media (max-width: 768px) {
  /* Estilos para telas menores, como smartphones */
}
@media (min-width: 769px) {
  /* Estilos para telas maiores, como tablets e desktops */
}


p {
  font-size: 1em;
}

.hidden {
  display: none;
}


.navbar {
  width: 100%;
  margin: 0 auto;
  display: block;
  align-items: center;
  justify-content: space-between;
  /* background-color: #030060; */
  }

  .historico, .perfil, .inicio {
    position: absolute;
    top: 0;
    padding: 0.8rem;
    margin: 5px;
    background-color: #030060;
    color: #fff;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.5s ease-out;
    overflow: visible;
}

.historico a, .perfil a, .inicio a {
    color: #fff;
    text-decoration: none;
}

.historico:hover, .perfil:hover, .inicio:hover {
    background-color: #1b40af; /* Cor do fundo ao passar o mouse */
}

.historico {
    left: 0;
}

.perfil {
    right: 0;
}

.inicio {
    left: 50%;
    transform: translateX(-50%);
}
  
.form-caixa {
  background-color: #fff;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

/*titulo "Login"*/
.titulo {
    text-align: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 600;
    color: black;
    font-family: 'Poppins', sans-serif;
    color:#030060;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  .classe {
    color: #030060;
    font-size: 1.2rem;
    display: flex; /* Use display flex para centralizar o conteúdo verticalmente */
    flex-direction: column; /* Para alinhar os elementos verticalmente */
    text-align: center; /* Alinhe o texto horizontalmente ao centro */
    margin: 0 auto;
    width: 60%;
    align-items: center;
}

  .classe p{
    width: 100%;
    font-weight: bold;
    font-size: 1.5rem;
  }

  #dado1{
    color: #030060;
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
  }

#info{
  font-weight: normal;
}

  #dado2{
    color: #030060;
    font-size: 1.2rem;
    margin-top: 1rem;
    font-weight: bold;
  }

  button {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #030060;
    color: #ffffff;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #5b58ff, 0 2px 4px -1px #5b58ff;
    transition: all .6s ease;
    margin: auto;
    margin-top: 3rem;
  }
  
  button:hover {
    box-shadow: 0 10px 15px -3px #5b58ff, 0 4px 6px -2px #5b58ff;
  }
  
  button:focus,
  button:active {
    opacity: .85;
    box-shadow: none;
  }
